# Enable javascript-obfuscator's debugProtection (anti-DevTools).
# Set to "true" to enable. Any other value (or omitting the variable) disables it.
VITE_DISABLE_DEVTOOLS=false
# VRoid Avatar ID to load. You can find this ID in the URL of your avatar on Vroid Hub. 
# For example, if your avatar's URL is "https://hub.vroid.com/characters/6757700625153379451", then the ID is "6757700625153379451". 
# Make sure to replace the placeholder value with your actual avatar ID.
# Notice: You cannot use a VRoid model unless the model's creator has given permission.
VITE_VROID_AVATAR_ID=0000000000000000000
# VROID_APP and VROID_CLIENT_SECRET are VRoid Hub API credentials (required for fetching VRM models and motions)
# Do NOT commit real values to version control.
VROID_APP_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# They should be kept secret and not exposed in client-side code. 
# In a real application, you would typically use these credentials on a server to fetch data from the Vroid Hub API and then serve it to the client.
VROID_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# VROID_REFRESH_TOKEN is used to refresh the access token when it expires. 
# It should also be kept secret and not exposed in client-side code.
# You can get access browser to the /api/auth endpoint to obtain the refresh token using your client ID and client secret, but remember to keep it secure and do not expose it in the frontend.
VROID_REFRESH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Your asset host URL where the motions are stored. This should point to a server or CDN that you control, where you have uploaded the necessary assets. 
# For example, it could be something like "https://assets.yourdomain.com". 
# Make sure to include the trailing slash if your server expects it.
ASSET_HOST=https://assets.yourdomain.com